ul{
    padding: 0;
}
li{
    list-style: none;
}

img.card-img-top {
    height: 125px;
    width: 100px;
    margin: 20px auto;
}

#spinner{
    display: none;
}

#result_not_found{
    display: none;
}

#empty_search{
    display: none;
}