/* Base CSS */
ul{
    padding: 0;
}
li{
    list-style: none;
}

/* Display Phone */
img.card-img-top {
    height: 125px;
    width: 100px;
    margin: 20px auto;
}

/* Spinner and error message */
#spinner{
    display: none;
}

#result_not_found{
    display: none;
}

#empty_search{
    display: none;
}